
.border {
  border: solid 1px grey;
}
.btn-green {
  background-color: $FernGreen;
  color: white;
  &:hover {
    border: 1px solid $FernGreen;
    background: white;
    color: $FernGreen;
  }
}
.btn-outline-green {
  border: 1px solid $FernGreen;
  background: white;
  color: $FernGreen;
  &:hover {
    background-color: $FernGreen;
    color: white;
  }
}
.fa-star {
  font-size:24px;
}
.good {
  color:#ffef14;
}
.bad {
  color:#a3a3a3;
}
.rating {
  font-size: 20px;
}
.basic{
  background-color: $FernGreen;
  min-height: 20px;
  margin-top: 40px;
  padding: 40px;
  color:#ffffff;
}
.fa-bars {
  color: $FernGreen;
  font-size: 28px;
}