
// Fonts
$header-font: 'Petit Formal Script', cursive;
$body-font: 'Open Sans', sans-serif;

// Colours
$Mustard : #f9d14a;
$FernGreen : #587d52;
$LightGray: #dad2d8;
$Jet: #2d2d2a;
$BrickRed: #c14953;